/* stylelint-disable at-rule-no-unknown */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



.btn-cta {
  box-shadow: 0 4px 8px 2px var(--bg-dark-80);
}

@layer components {
  .container-events {
    @apply h-min grid grid-cols-3 gap-4 font-sans text-lg;
  }

  .container-card {
    @apply w-4/5 pb-60 mx-auto my-8 rounded-3xl flex place-content-center flex-col relative text-base; /*? Revisar porque es 91% por si falla responsive, y la tarjeta queda fina */
    box-shadow: 0px 10px 12px 4px #00000050;
  }

  .photoEvent {
    @apply w-full h-80 bg-light rounded-3xl;
  }

  .photoEvent > img {
   @apply w-full h-full object-cover rounded-2xl;
  }

  .card {
   @apply w-full h-72 bg-dark rounded-b-3xl rounded-l-3xl flex flex-row absolute bottom-0 text-bg-dark;
  }

  .info-card {
    @apply flex flex-col w-9/12 py-0 px-4;
  }

  .info-card > h4 {
    @apply m-0 h-1/2 font-serif text-xl;

  }

  .info-card > p {
    @apply m-0 text-2xl;
  }

  .date-card{
   @apply w-1/4 text-bg-light bg-light rounded-br-3xl flex flex-col justify-center items-center font-bold text-center;
  }

  hr {
    @apply w-3/4 border-none border border-solid border-bg-light ;
  }

  .icons-bar {
    @apply w-full bg-light rounded-3xl my-2.5 mx-auto flex justify-evenly items-center flex-row flex-wrap;
  }

  figure {
    @apply w-12 h-12 flex items-center m-0;
  }

  figure > img {
    @apply w-10 h-10 ml-2.5;
  }

  .container-img > img {
    @apply max-h-12;
  }

}

/*¡¡¡Comprobar si existe!!!


.btn-cta {
  box-shadow: 0 4px 8px 2px var(--bg-dark-80);
}

.cta-custom-events {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em auto;
  color: var(--bg-dark);
}

.cta-custom-events h4 {
  font-family: "Lobster two", cursive;
  font-size: 32px;
}

.cta-custom-events p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 24px;
}*/

/*Responsive*/


@media screen and (max-width: 768px) {
  /* ¡¡¡Comprobar si existe!!!

   .title-text {
    width: 300px;
    height: 280px;
    overflow: hidden;
  }

  .container-gallery-card {
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  */
}
